{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div align="center" class="container py-5">
  <h2>Привет! Я Алексей Суранов!</h2>
  <img src="{% static 'img/foto.jpg' %}" width="139" height="164" align="center">
  <p></p>
  <p>
    Мне 40 лет. Живу в Нижегородской области.
    В сентябре 2022 года я стал студентом Яндекс.Практикум, на курсе Python-разработчик.
    И передомной открылся новый, интересный мир программирования!
  </p>
  <p>
    Это мой первый проект на фреймворке Django и уверен не последний!
  </p>
</div>
{% endblock %}
