{% extends 'base.html' %}
{% load thumbnail %}
{% load cache %}
{% block title %}
  Подписки
{% endblock %}
{% block content %}
{% include 'posts/includes/switcher.html' %}
{% cache 20 follow_page %}
<div class="container py-5">
{% for post in page_obj %}
  {% include 'posts/includes/posts_card.html' %}
  {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы: {{ post.group }}</a>
  {% endif %}
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include 'posts/includes/paginator.html' %}
</div>
{% endcache %}
{% endblock %}
