{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>{{ group.title }}</h1>
  <p>{{ group.description }}</p>
{% for post in page_obj %}
  {% include 'posts/includes/posts_card.html' %}
  <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы</a>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
